ansible==4.10.0
ansible-core==2.11.11
boto3==1.22.3
botocore==1.25.3
cffi==1.15.0
cryptography==37.0.1
Jinja2==3.0.3
jmespath==0.10.0
MarkupSafe==2.0.1
packaging==21.3
pycparser==2.21
pyparsing==3.0.8
python-dateutil==2.8.2
PyYAML==6.0
resolvelib==0.5.4
s3transfer==0.5.2
six==1.16.0
urllib3==1.26.9