apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nginx-ingress-immuta
  namespace: {{ immuta_namespace }}
  annotations:
    external-dns.alpha.kubernetes.io/hostname: {{ immuta_url }}
    nginx.ingress.kubernetes.io/secure-backends: "true"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
spec:
  rules:
  - host: {{ immuta_url }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: immuta-web
            port:
              number: 8823
  ingressClassName: nginx
